:root {
  --dark: #6c1c04;
  --dark-medium: #914e37;
  --medium: #b37e6b;
  --medium-light: #eac8bc;
  --light: #f5e8e3;
  --light2: #eae3de;
}

.home-container {
  margin: 0 50px;
}

.header {
  text-align: center;
  background-color: var(--medium);
  padding: 10px;
  border-radius: 10px;
  color: white;
  margin: 30px 0 30px 0;
}

.home-box {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.fantasy-box {
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  justify-content: center;
  text-align: center;
  display: flex;
  padding: auto 5%;
  gap: 10%;
  width: 30%;
  align-items: center;
}

.new-box {
  background-color: white;
  border-radius: 10px;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  width: 30%;
  align-items: center;
  line-height: 150%;
}

.about-box {
  flex: 1;
  background-color: white;
  padding: 20px 5%;
  border-radius: 10px;
  margin-top: 30px;
  line-height: 25px;
}

.fantasy-form {
  display: flex;
  flex-direction: column;
}

.fantasy-form input {
  width: 100%;
}

.home-container button {
  background-color: var(--medium);
  color: white;
  padding: 5px 0;
  width: 100px;
}

.top-questions {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.top-questions * {
  display: flex;
  flex-direction: column;
  gap:5px;
  align-items: center;
}

.top-performers {
  font-style: italic;
  color: rgb(114, 114, 114);
  margin-bottom: 2px;
}

h4 {
  margin: 5px 0;
}

.home-example {
  text-align: center;
  margin-bottom: 20px;
}

.home-example div {
  background-color:var(--medium);
  color: white;
  padding: 5px;
  border-radius: 5px;
  margin: 10px auto;
}

.home-example img {
  width: 50%;
}

.info-boxes {
  display: flex;
  gap: 30px;
}

/*
@media (min-width: 1370px) {
  .howto {
    display: flex;
    gap: 3%;
  }
} */
