* {
  font-family: Verdana, Arial, sans-serif
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  border: 1px solid rgb(197, 197, 197);
  padding: 10px;
}

th {
  padding: 10px;
  background-color:rgb(147, 147, 147);
  color: white;
}

th:first-child, td:first-child {
  position: sticky;
  left: 0;
  background-color: white;
}

th:first-child{
  background-color:rgb(147, 147, 147);
}

td:first-child:hover {
  background-color: #dbdbdb;
}

/* .checkboxes {
  display: "flex";
  flex-direction: "column";
  margin-bottom: "20px";
} */

select {
  width: 100%;
  padding: 5px;
  display: inline-block;
  border: 1px solid lightgray;
  border-radius: 4px;
  margin: 5px 0;
}

button {
  padding: 5px;
  display: inline-block;
  border: 1px solid lightgray;
  border-radius: 4px;
  margin-top: 5px;
}

input {
  padding: 5px;
  border: 1px solid grey;
  border-radius: 4px;
}

th.sorted {
  background-color: rgb(105, 105, 105);
  color: white;
}

td.sorted{
  background-color: rgb(157, 157, 157);
  color: white;
}

tr:hover {
  background-color: #dbdbdb;
}

input[type="text"] {
  width: 400px;
  padding: 5px;
  position: sticky;
  left: 0;
  margin-bottom: 10px;
}