:root {
  --dark: #1a1a1a;
  --dark-medium: #545454;
  --medium: #757475;
  --medium-light: #edeef0;
  --light: #f6f6f6;
  --dark-color: #153e97;
  --light-color: #3759a1;
}

* {
  font-family: Verdana, Arial, sans-serif;
}

body {
  background-color: var(--medium-light);

}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  border-right: .5px solid lightgrey;
  padding: 10px;
}

th {
  padding: 10px;
  font-weight: normal;
  border-right: .5px solid lightgrey;
  border-bottom: .5px solid lightgrey;
}

th:first-child, td:first-child {
  position: sticky;
  left: 0;
  background-color: white;
  margin-left: 10px;
  padding-left: 10px;
}

/* .checkboxes {
  display: "flex";
  flex-direction: "column";
  margin-bottom: "20px";
} */

select {
  width: 100%;
  padding: 5px;
  display: inline-block;
  border: 1px solid lightgray;
  border-radius: 4px;
  margin: 5px 0;
}

button {
  padding: 5px;
  display: inline-block;
  border: 1px solid lightgray;
  border-radius: 4px;
  margin-top: 5px;
}

input {
  padding: 5px;
  border: 1px solid grey;
  border-radius: 4px;
}


th.sorted {
  background-color: var(--dark);
  color: white;
}

td.sorted{
  background-color: var(--dark-medium);
  color: white;
}

input[type="text"] {
  padding: 5px;
  width: 50%;
  position: sticky;
  margin-bottom: 10px;
  right: 0;
}

.table-container {
  padding: 20px;
  border-radius: 10px;
  background-color: white;
}

.stat-block {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  width: 150px;
  margin: 0 5px 25px 5px;
}

.stat-block * {
  flex-wrap: nowrap;
}

.about-button {
  width: 100%;
}

tr:nth-child(even) {
  background-color: var(--medium-light);
}

td:first-child:nth-child(even) {
  background-color: var(--medium-light)
}

