:root {
  --dark: #6c1c04;
  --dark-medium: #914e37;
  --medium: #b37e6b;
  --medium-light: #eac8bc;
  --light: #f5e8e3;
}

* {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  width: 100%;
  background-color: var(--dark);
  text-decoration: none;
  margin: 0
}

.navbar * {
  text-decoration: none;
  color: white;
  margin: 10px;
  padding-left: 30px;
}