:root {
  --dark: #1a1a1a;
  --dark-medium: #3c3c3c;
  --medium: #757475;
  --medium-light: #edeef0;
  --light: #f6f6f6;
}

* {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  width: 100%;
  background-color: var(--dark);
  text-decoration: none;
  margin: 0
}

.navbar * {
  text-decoration: none;
  color: white;
  margin: 10px;
  padding-left: 30px;
}